<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.windsoft.lt.grade.web.admin.dao.AdminDao">
    <sql id="adminColumns">
          dt.id,
          dt.email,
          dt.password,
          dt.status,
          dt.created,
          dt.updated
    </sql>

    <select id="getByEmail" resultType="Admin">
        SELECT
        <include refid="adminColumns"/>
        FROM
        admin AS dt
        WHERE
        dt.email = #{email}
    </select>

    <select id="page" resultType="Admin" parameterType="java.util.Map">
        SELECT
        <include refid="adminColumns"/>
        FROM
        admin AS dt
        <where>
            <if test="pageParams.email != null and pageParams.email !='' ">
                AND dt.email LIKE CONCAT ('%',#{pageParams.email},'%')
            </if>
        </where>
        LIMIT #{start}, #{length}
    </select>

    <select id="count" resultType="java.lang.Integer">
        select count(*) from admin AS dt
        <where>
            <if test="email != null and email != ''">
                AND dt.email LIKE CONCAT ('%',#{email},'%')
            </if>
        </where>
    </select>

    <select id="getById" resultType="Admin">
        SELECT
        <include refid="adminColumns"/>
        FROM
        admin AS dt
        WHERE
        id = #{id}
    </select>

    <update id="update">
        UPDATE
            admin
        SET
            email = #{email},
            password = #{password},
            status = #{status},
            created = #{created},
            updated = #{updated}
        WHERE id = #{id}
    </update>

    <insert id="insert">
        INSERT INTO admin (
         `email`,
         `password`,
         `status`,
         `created`,
         `updated`
         )
         VALUES (
         #{email},
         #{password},
         #{status},
         #{created},
         #{updated}
         )
    </insert>

</mapper>