<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.windsoft.lt.grade.web.api.dao.AssignmentDao">

    <sql id="assColumns">
          dt.ass_id,
          dt.name,
          dt.content,
          dt.type,
          dt.created,
          dt.deadline
    </sql>

    <sql id="orgMap">
        org.org_id as "organization.orgId",
        org.org_name as "organization.orgName",
        org.org_type as "organization.orgType",
        org.intro as "organization.intro",
        org.created as "organization.created"
    </sql>

    <select id="getAll" resultType="Assignment">
        SELECT
        <include refid="assColumns"/>,
        <include refid="orgMap"/>
        FROM
        assignment as dt
        LEFT JOIN
        organization as org
        ON dt.org_id = org.org_id
        WHERE
        dt.org_id = #{id}
    </select>

    <update id="update">
        UPDATE
            user
        SET
            stu_id = #{stuId},
            tec_id = #{tecId},
            email = #{email},
            nickname = #{nickname},
            updated = #{updated},
            juridisdiction = #{juridisdiction}
        WHERE uid = #{uid}
    </update>

    <insert id="insert">
        INSERT INTO user (
         `stu_id`,
         `tec_id`,
         `email`,
         `password`,
         `nickname`,
         `created`,
         `updated`,
         `juridisdiction`
         )
         VALUES (
         #{stuId},
         #{tecId},
         #{email},
         #{password},
         #{nickname},
         #{created},
         #{updated},
         #{juridisdiction}
         )
    </insert>

</mapper>