<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.windsoft.lt.grade.web.api.dao.UserDao">

    <sql id="userColumns">
        dt.uid,
        dt.stu_id,
        dt.tec_id,
        dt.email,
        dt.password,
        dt.nickname,
        dt.created,
        dt.updated,
        dt.juridisdiction
    </sql>

    <select id="getByEmail" resultType="User">
        SELECT
        <include refid="userColumns"/>
        FROM
        user AS dt
        WHERE
        dt.email = #{email}
    </select>

    <insert id="insert">
        INSERT INTO user (
         `uid`,
         `stu_id`,
         `tec_id`,
         `email`,
         `password`,
         `nickname`,
         `created`,
         `updated`,
         `juridisdiction`,
         )
         VALUES (
         #{uid},
         #{stuId},
         #{tec_id},
         #{email},
         #{password},
         #{nickname},
         #{created},
         #{updated},
         #{juridisdiction}
         )
    </insert>

    <update id="update">
        UPDATE
            user
        SET
         uid = #{uid},
         stu_id = #{stuId},
         tec_id = #{tec_id},
         email = #{email},
         password = #{password},
         nickname = #{nickname},
         created = #{created},
         updated = #{updated},
         juridisdiction = #{juridisdiction}
        WHERE id = #{id}
    </update>

</mapper>